policy_module(desktop.system.network, 1.0)

gen_require(`
  attribute domain;
')

type sysadm_net_t;
type staff_net_t;
type user_net_t;

corenet_sendrecv_unlabeled_packets(sysadm_net_t)
corenet_sendrecv_unlabeled_packets(staff_net_t)
corenet_sendrecv_unlabeled_packets(user_net_t)
