## <summary>policy for htop</summary>

########################################
## <summary>
##	Execute htop_exec_t in the htop domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`htop_domtrans',`
	gen_require(`
		type htop_t, htop_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, htop_exec_t, htop_t)
	allow $1 htop_t:process noatsecure;
')

########################################
## <summary>
##	Execute htop in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`htop_exec',`
	gen_require(`
		type htop_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, htop_exec_t)
')
